
.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .ogo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-link:hover {
  color: #21a1f1;
}
.Logo {
  height: 30vmin;
  width: auto;
  pointer-events: none;
  border-color: black;
  position: relative;
  top: 380px;
  right : 190px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  
}
.Spin {
  animation: App-logo-spin 2s linear;
}
/* Blinking animation for the loading text */
.loading-text {
  position: absolute; /* Position relative to the parent container */
  top: 380px;
  left : 600px;
  animation: blink 2s step-start infinite;
  color: #61dafb; /* Adjust color as needed */
  font-weight: bold;
  font-size: 1.2rem; /* Adjust size as needed */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


